body {
    font-family: 'Satisfy', cursive;
    background-color: rgb(250, 242, 134);
}

#main-header {
    color: rgb(220, 60, 60);
    text-align: center;
    font-size: 100pt;
}

.tagline {
    font-size: 25pt;
    text-align: center;
    color: rgb(255, 0, 234)
}

.subheaders {
    font-size: 50pt
    display: inline; 
}

.subsubheaders {
    font-size: 30pt
    display: inline; 
}

.container {
    position: relative;
    background: lightgray;
}
.box-orange {
    position: absolute;
    background: orange;
    height: 100px;
    width: 100px;
    right: 5px;
    top:5px;
}

.box-blue {
    background: lightskyblue;
    height: 100px;
    width: 100px;
    position: static;
}

.box-red1 {
    position: static;
    background: red;
    height: 100px;
    width: 100px;
}

.box-gray1 {
    position: static;
    background: gray;
    height: 100px;
    width: 100px;
}
.box-orange1 {
    position: fixed;
    background: orange;
    height: 100px;
    width: 100px;
    right: 5px;
    top:250px;
}

.box-darkblue1 {
    position: absolute;
    background: darkblue;
    height: 100px;
    width: 100px;
    right: 15px;
    top:240px;
}

.box-blue1 {
    position: relative;
    background: lightskyblue;
    height: 100px;
    width: 100px;
    top: 1000px;
}